.drum-pad:active{
    background-color: red;
}

@media (min-width: 420px){
    #drum-machine{
        width: 400px;
    }
}

@media (min-width: 969px){
    #display{
        width: 25%;
    }
}

.footer-container a{
    color: white;
    margin: 0 10px;
}